.my-div-icon{
    box-sizing: border-box;
    height: 25px !important;
    width: 25px !important;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgba(220, 220, 220, 0.63);
}

.selected{
    border-color: #ff0000;
    border-width: 5px;
}

.address-correct{ background-color: #31ff00}
.not-resolved{ background-color: #0051ff}
.no-answer{ background-color: #ffcc00}
.no-access{ background-color: #a20095}
.moved{ background-color: #ff0000}
.deceased{ background-color: #000000}
.other{ background-color: #FFFFFF}
.not-visited{ background-color: #8d8d8d
}


.group-A{
    background-color: #ff0000;
    fill: #ff0000;
    color: #ff0000;
}
.group-B{
    background-color: #00ff00;
}
.group-C{
    background-color: #0000ff;
}
.group-D{
    background-color: #ffff00;
}
.group-E{
    background-color: #00ffff;
}
.group-F{
    background-color: #ff00ff;
}
.group-G{
    background-color: #ff8000;
}
.group-H{
    background-color: #ff0080;
}
.group-I {
    background-color: #80ff00;
}
.group-J{
    background-color: #0080ff;
}
.group-K{
    background-color: #8000ff;
}
.group-L{
    background-color: #ff80ff;
}
.group-M{
    background-color: #ff0080;
}
.group-N{
    background-color: #ff8000;
}
.group-O{
    background-color: #ff0080;
}
.group-P{
    background-color: #ff8000;
}
.group-Q{
    background-color: #ff0080;
}
.group-R{
    background-color: #ff8000;
}
.group-S{
    background-color: #ff0080;
}
.group-T{
    background-color: #ff8000;
}
.group-U{
    background-color: #ff0080;
}
.group-V{
    background-color: #ff8000;
}
.group-W{
    background-color: #ff0080;
}
.group-X{
    background-color: #ff8000;
}
.group-Y{
    background-color: #ff0080;
}
.group-Z{
    background-color: #ff8000;
}